.header {
  padding: 20px 0;

  background-color: #a59bd8;

  box-shadow: var(--shadow-small);
  border-radius: 0px 0px 24px 24px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
}
